body {
    margin: 0;
    background: linear-gradient(to bottom right, white, lightgray);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    display: flex;
}

#headL {
    background-color: #E99456;
    width: 95%;
    height: 80px;
    align-content: center;
}

#headL a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 25px;
    font-size: 18px;
}

#pages {
    display: flex;
}

#H {
    padding-left: 30%;
}

#logo {
    height: 100px;
    margin-left: 20px;
    margin-top: 15px;
    padding-right: 3%;
}

#ped {
    padding-right: 25%;
}

#lupa {
    font-size: 26px;
}

#pesquisa {
    position: absolute;
    right: 10.2%;
    top: 22px;
    height: 30px;
    width: 30px;
    opacity: 0;
}

#pesquisa:hover {
    cursor: pointer;
}

#Barra {
    opacity: 0;
    width: 70%;
    background-color: lightgray;
    height: 5vh;
    position: absolute;
    margin-left: 7%;
    border-radius: 20px;
    text-align: end;
    align-content: center;
    padding-right: 25px;
    transition: .3s;
}

#pesq {
    width: 80%;
    margin-right: 50px;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 18px;
}

#pesquisa:checked+#Barra {
    opacity: 1;
    position: absolute;
    top: 10%;
}

.corBlur {
    background-color: rgba(0, 0, 0, 40%);
}

#fotoPrinc {
    align-content: center;
    text-align: center;
    height: 50vh;
    font-size: 35px;
    color: rgb(43, 43, 43);
}

#fotoPrinc i:hover {
    cursor: pointer;
}

#macarraoG {
    vertical-align: middle;
    margin-left: 25px;
    margin-right: 25px;
}

#pressao {
    height: 120px;
}

#destaques {
    margin-left: 25%;
    margin-top: 5%;
    display: flex;
}

#d1 {
    display: flex;
    line-height: 2;
    font-family: "Kufam", sans-serif;
}
.desc{
    padding-top: 15px;
    margin-left: .8%;
}#d2{
    margin-left: 25%;
    display: flex;
    line-height: 2;
    font-family: "Kufam", sans-serif;
}